root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 160

[*.java]
ij_continuation_indent_size = 4
ij_java_class_count_to_use_import_on_demand = 1000

[*.{kt,kts}]
# 2147483647 = some max int (infinity)
ij_kotlin_name_count_to_use_star_import = 2147483647
ij_kotlin_name_count_to_use_star_import_for_members = 2147483647

[*.{json,mcmeta,json5}]
indent_size = 2
ij_json_keep_blank_lines_in_code = 1
ij_json_keep_line_breaks = true
ij_json_spaces_within_braces = true

[*.accesswidener]
indent_style = tab
